// Colors
$refresha: #eb81a5;
$rewards: #d4e9e2;
$mochha-frap: #8f8bf4;
$bumblebee: #f1ff67;
$hearty: #fc6446;
$gold-light: #dfc49d;

$text-color: #000;
$white: #ffff;
$shadow-color: rgba(0, 0, 0, 0.1); 

$color-green-starbucks: #006241;
$color-green-accent: #00754a;
$color-green-dark-text:#1e3932;

// flex utils start
.flex {
  display: flex;
}
.flex-center {
  align-items: center;
  justify-content: center;
}
.flex-column {
  flex-direction: column;
}
// flex end

// Button spesificies start
.btn {
  padding: 8px 16px;
  border-radius: 50px;
  
  font-weight: 600 !important;
}
.btn-primary {
  background-color: $text-color;
  color: $white !important;

  &:hover {
    opacity: 0.7;
  }
}
.btn-transparent {
  border: 1px solid $text-color;

  &:hover {
    background-color: $shadow-color;
    color: $text-color !important;
  }
}
// Button spesificies end

.shadow {
  box-shadow: 0px 2px 5px 0px $shadow-color;
}
.clearfix::after {
  clear: both;
}

.style-hr {
  border: 0;
  height: 0;
  border-top: 1px solid $shadow-color;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.sub-list {
  width: 190px;

  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  a{
    color: lighten($text-color, 45%);
    
    &:hover {
      color: $text-color;
    }
  }
}